.wrapper { 
    display:flex; 
    justify-content:space-between;
    width: 65vmax; 
    height:30vmax;
    border: 1px solid white;
  }
  .box { 
    flex: 0 0 40%;
    height: 100%; 
    text-align:center; 
    border: 1px solid white;
  }